<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nlaw</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">whx123654</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        
        <mapping class="com.whx.entities.User" />
        <mapping class="com.whx.entities.Law" />
        <mapping class="com.whx.entities.Article" />
        <mapping class="com.whx.entities.Brief" />
        <mapping class="com.whx.entities.Caseclass" />
        <mapping class="com.whx.entities.Doc" />
        <mapping class="com.whx.entities.Guidecase" />
        <mapping class="com.whx.entities.Judgepoint" />
        <mapping class="com.whx.entities.Court" />
    </session-factory>
</hibernate-configuration>
