#global {
    text-align: left;
    border: 4px solid #0000a0;
    background: #fafafa;
    width: 560px;
    padding: 10px;
    margin: 20px auto;
}

form {
  font:100% verdana;
  min-width: 500px;
  max-width: 600px;
  width: 560px;
}

form fieldset {
  border-color: #8080ff;
  border-width: 2px;
  margin: 3px;
}

legend {
    font-size: 1.3em;
}

form label {
    width: 180px;
    display: block;
    float: left;
    text-align: right;
    padding: 2px;
}

table td {
	border: 1px solid #dedede;
	background: MistyRose;
	/* for web colors visit http://en.wikipedia.org/wiki/Web_colors */
}

#buttons {
    text-align: center;
}
#errors, li {
	color: red;
}
.star{
	color:red;
}
.error {
    color: red;
    font-size: 9pt;	
}

.form-group .required .control-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}
.control-label {
	font-family: 'Glyphicons Halflings';
	font-weight: normal;
	font-size: 16px;
}